# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Results and logs
results/
logs/
cache/
